
        <section class="featured-product">
            <h2>Your destination for luxurious, skin-loving cosmetics crafted with care</h2>
            <h2>Discover Our Collection</h2>
            {{#if getTop}}
            {{#each getTop}}
            <div class="products">
                <article class="product">
                    <img src="{{image}}">
                    <h3>{{name}}</h3>
                    <p>Suitable for: {{skin}}</p>
                    <a href="/products/{{_id}}/details">Read More</a>
                </article>
                {{/each}}
                {{else}}
                <p class="no-post">There are no products found yet!</p>
                {{/if}}
            </div>
        </section>
  